* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #2f2ceb;
    --secondary: #5ab1ef;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    --white: #ededed;
    font-size: 62.5%;
  }
  
  body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
  }
  p {
    font-size: 2.4rem;
    text-align: center;
  }
  
  p,
  li {
    font-size: 2.4rem;
    text-align: center;
  }
  
  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    background: var(--secondary);
    color: var(--primary);
    font-size: 2rem;
    padding: 20px;
    border-top: 5px solid var(--primary);
  }
  
  .page-title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
  }
  
  .page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    margin: auto 60px;
    width: 95%;
  }
  
  .btn {
    outline: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 15px;
    background: var(--secondary);
    font-size: 2.2rem;
    border-radius: 12px;
    margin-bottom: 20px;
    top: -3px;
    box-shadow: 0 3px var(--grey);
  }

  #startpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #timer{
    text-align: center;
  }

  #quiz{
    display: none;
  }

  #result{
    display: none;
  }

  .btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  .btn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }
  
  @media screen and (max-width: 980px) {
    form .form-group {
      flex: 1 100%;
    }
  
    form .form-group button {
      width: 100%;
    }
  
    .task-list-wrapper {
      flex-basis: 100%;
    }
  
  }
  